 body {
    padding-top: 0;
    color: #333;
}

.carousel-item {
    height: 32rem;
    background-color: #555;
    position: relative;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.6); 
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
    margin-top: 10px;
}

.marketing .rounded-circle {
    object-fit: cover;
    border: 3px solid #ddd;
}

.pricing-header {
    max-width: 700px;
}

.gallery-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.gallery-img:hover {
    opacity: 0.8;
}

footer {
    background-color: #212529; 
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer h5 {
    color: #0d6efd; 
    margin-bottom: 1rem;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

iframe {
    width: 100%;
    height: 350px;
    border: 0;
    display: block;
}